<div class="container">
  <h1>Nueva Tienda</h1>
  <div class="container">
    <div class="row">
      <%= render 'form', store: @store %>
    </div>


    <div class="btn btn-primary">
      <%= link_to 'Back', stores_path %>
    </div>

  </div>
</div>

